<header>
  <h2>Header</h2>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li><a routerLink="/list">List</a></li>
      <li><a routerLink="/emitter">Emitter</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/ifrender">If Render</a></li>
      <li><a routerLink="/parentdata">Parent Data</a></li>
      <li><a routerLink="/pipes">Pipes</a></li>
      <li><a routerLink="/twowaybinding">Two Way Binding</a></li>
      <li><a routerLink="/changenumber">Change Number</a></li>
    </ul>
  </nav>
</header>
<h1>Hello world Angular</h1>
<router-outlet />
<footer>Footer</footer>
