/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 500px;
}

.class {
  border-bottom: 1px solid black;
  padding: 2em;
  margin-bottom: 1em;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

  padding: 20px 30px;

  nav {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 20px;

       a {
        text-decoration: none;
        color: black;
       }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}